<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/home.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css" integrity="sha256-a2tobsqlbgLsWs7ZVUGgP5IvWZsx8bTNQpzsqCSm5mk=" crossorigin="anonymous" />-->
</head>

<body>
    <div class="handbur">
        <span></span>
        <span class="mid"></span>
        <span></span>
    </div>
    <nav>
        <ul>
            <li><a href="#home">HOME</a></li>
            <li><a href="#about">ABOUT US</a></li>
            <li><a href="#gallery">GALLERY</a></li>
            <li><a href="#project">PROJECT</a></li>
            <li><a href="#contact">CONTACT US</a></li>
        </ul>
    </nav>
    <section class="main" id="home">
        <svg width="659" height="463" viewBox="0 0 659 463" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="undraw_web_developer_p3e5 1" clip-path="url(#clip0)">
                <g id="leaf">
                    <path id="Vector"
                        d="M529.218 430.628C524.94 446.934 509.952 457.124 509.952 457.124C509.952 457.124 501.898 440.877 506.176 424.57C510.453 408.264 525.442 398.074 525.442 398.074C525.442 398.074 533.495 414.322 529.218 430.628Z"
                        fill="#3F3D56" />
                    <path id="Vector_2"
                        d="M522.73 427.178C510.749 439.027 509.409 457.115 509.409 457.115C509.409 457.115 527.493 455.992 539.473 444.143C551.454 432.294 552.794 414.207 552.794 414.207C552.794 414.207 534.71 415.329 522.73 427.178Z"
                        fill="#6C63FF" />
                </g>
                <path id="Vector_3"
                    d="M88.6376 368.945H111.2L166.8 347.165C166.8 347.165 206.284 331.032 203.061 361.685C199.838 392.337 194.197 433.476 194.197 433.476C194.197 433.476 176.469 425.41 166.8 427.83C157.13 430.249 163.577 378.624 163.577 378.624C163.577 378.624 84.6086 416.537 77.3565 411.697C70.1043 406.857 68.4927 372.978 68.4927 372.978L88.6376 368.945Z"
                    fill="#2F2E41" />
                <path id="Vector_4" opacity="0.1"
                    d="M88.6376 368.945H111.2L166.8 347.165C166.8 347.165 206.284 331.032 203.061 361.685C199.838 392.337 194.197 433.476 194.197 433.476C194.197 433.476 176.469 425.41 166.8 427.83C157.13 430.249 163.577 378.624 163.577 378.624C163.577 378.624 84.6086 416.537 77.3565 411.697C70.1043 406.857 68.4927 372.978 68.4927 372.978L88.6376 368.945Z"
                    fill="black" />
                <g id="leftHand">
                    <path id="Vector_5"
                        d="M124.185 298.213L151.49 337.486L215.148 390.724C215.148 390.724 273.971 404.437 265.913 414.117C257.855 423.796 208.701 404.437 208.701 404.437C208.701 404.437 135.374 351.198 132.956 347.165C130.539 343.132 103.948 305.22 103.948 305.22L124.185 298.213Z"
                        fill="#A0616A" />
                    <path id="Vector_6"
                        d="M107.977 266.501L125.704 301.187C125.704 301.187 121.675 318.126 115.229 319.739C108.783 321.353 81.3855 298.767 81.3855 298.767L107.977 266.501Z"
                        fill="#D0CDE1" />
                </g>
                <path id="Vector_7"
                    d="M324.245 350.986L329.482 372.609C329.54 372.85 329.531 373.103 329.455 373.339L305.701 447.649C305.607 447.943 305.415 448.196 305.157 448.366C304.899 448.536 304.591 448.612 304.284 448.581C303.977 448.551 303.689 448.416 303.469 448.199C303.249 447.982 303.11 447.697 303.076 447.39L299.789 418.442C299.768 418.249 299.787 418.055 299.847 417.871L321.651 350.885C321.742 350.606 321.922 350.364 322.162 350.196C322.403 350.028 322.692 349.943 322.986 349.954C323.279 349.966 323.561 350.072 323.788 350.259C324.015 350.445 324.176 350.7 324.245 350.986Z"
                    fill="#2F2E41" />
                <path id="Vector_8" d="M322.319 352.812L327.153 371.365L306.203 439.123L301.368 418.15L322.319 352.812Z"
                    fill="#F2F2F2" />
                <path id="Vector_9"
                    d="M216.759 453.642C217.565 456.062 300.562 452.835 301.368 452.029C302.071 451.019 302.665 449.937 303.141 448.802C303.898 447.189 304.591 445.576 304.591 445.576L301.368 419.457L219.177 416.536C219.177 416.536 217.122 438.671 216.703 448.802C216.598 451.359 216.598 453.158 216.759 453.642Z"
                    fill="#2F2E41" />
                <path id="Vector_10" opacity="0.1" d="M290.893 422.99L292.504 445.576H256.243V422.99H290.893Z"
                    fill="black" />
                <path id="Vector_11" opacity="0.1"
                    d="M244.157 430.249L244.373 430.206L243.351 439.929H223.206V430.249H244.157Z" fill="black" />
                <path id="Vector_12" opacity="0.1"
                    d="M216.759 453.642C217.565 456.062 300.562 452.835 301.368 452.029C302.071 451.019 302.665 449.937 303.141 448.802H216.703C216.598 451.359 216.598 453.158 216.759 453.642Z"
                    fill="black" />
                <path id="Vector_13"
                    d="M120.064 255.208C140.09 255.208 156.325 238.956 156.325 218.909C156.325 198.862 140.09 182.61 120.064 182.61C100.037 182.61 83.8029 198.862 83.8029 218.909C83.8029 238.956 100.037 255.208 120.064 255.208Z"
                    fill="#A0616A" />
                <path id="Vector_14"
                    d="M117.646 251.175C117.646 251.175 105.559 272.148 103.142 283.441C100.725 294.734 66.8811 260.855 66.8811 260.855L62.4492 249.158C62.4492 249.158 94.2782 234.235 91.8608 222.136C89.4434 210.036 117.646 251.175 117.646 251.175Z"
                    fill="#A0616A" />
                <path id="Vector_15"
                    d="M79.7739 381.851L89.4434 397.177L147.152 379.002C159.815 375.015 173.699 376.482 184.93 383.565C195.003 389.917 201.449 400 186.945 414.923C157.936 444.769 138.597 428.636 138.597 428.636C138.597 428.636 41.0956 474.615 24.9797 452.029C8.86376 429.443 8.05798 418.15 8.05798 418.15C8.05798 418.15 70.1043 379.431 79.7739 381.851Z"
                    fill="#2F2E41" />
                <path id="Vector_16"
                    d="M200.643 435.089C200.643 435.089 226.429 452.029 195.809 460.095C165.188 468.162 142.626 456.869 142.626 456.869C142.626 456.869 116.035 456.869 116.035 443.156C116.035 429.443 124.899 427.829 124.899 427.829L152.296 431.863C152.296 431.863 185.333 422.99 200.643 435.089Z"
                    fill="#D0CDE1" />
                <path id="Vector_17"
                    d="M149.81 209.778C152.278 210.879 154.726 212.183 157.409 212.503C160.092 212.822 163.147 211.885 164.417 209.497C165.103 208.207 165.181 206.69 165.213 205.229C165.31 200.8 164.99 196.011 162.186 192.583C160.402 190.402 157.797 189.027 155.95 186.898C154.626 185.373 153.745 183.524 152.797 181.741C149.205 174.987 143.886 168.496 136.493 166.549C133.406 165.735 130.168 165.775 126.977 165.82L108.361 166.083C105.348 166.126 102.289 166.175 99.4054 167.048C93.4136 168.862 89.0508 173.906 85.0552 178.729C82.0659 182.338 79.0686 185.985 76.8251 190.1C73.6086 196.105 71.9821 202.835 72.1008 209.648C72.0759 211.396 72.3013 213.138 72.77 214.821C73.3185 216.365 73.9979 217.859 74.801 219.287C78.2921 226.151 80.3649 234.725 76.4333 241.346C83.2629 238.553 90.0204 234.891 94.5256 229.043C96.541 226.427 98.1216 223.364 100.807 221.445C103.493 219.525 107.87 219.358 109.593 222.176C110.186 223.316 110.491 224.583 110.482 225.868C110.608 227.983 110.604 230.179 111.5 232.099C112.396 234.019 114.529 235.567 116.567 234.993C120.075 234.004 119.739 228.613 122.441 226.165C124.493 224.305 127.659 224.661 130.296 223.817C133.368 222.833 135.673 220.169 136.986 217.221C137.984 214.979 137.97 209.114 139.859 207.9C142.227 206.378 147.614 208.798 149.81 209.778Z"
                    fill="#2F2E41" />
                <path id="Vector_18"
                    d="M59.5708 245.332C61.2021 244.896 62.9195 244.901 64.5485 245.345C69.7211 246.735 81.3166 250.415 83.8028 256.015C87.026 263.274 98.3072 274.567 98.3072 274.567C98.3072 274.567 113.617 289.894 110.394 300.38C107.171 310.866 95.084 322.966 95.084 322.966C95.084 322.966 98.3072 372.978 82.1912 385.884C66.0753 398.79 59.6289 389.917 59.6289 402.017C59.6289 414.117 9.66957 452.029 0 428.636C0 428.636 4.83478 385.077 3.22319 369.751C1.63484 354.646 3.9601 260.403 59.5708 245.332Z"
                    fill="#D0CDE1" />
                <path id="v2"
                    d="M633.809 93.8231H410.737V47.096H633.809V93.8231ZM411.719 92.8393H632.826V48.0797H411.719V92.8393Z"
                    fill="#3F3D56" />
                <path id="v1" d="M617.594 56.4414H395.505V102.185H617.594V56.4414Z" fill="#6C63FF" />
                <g id="rightHand">
                    <path id="Vector_19"
                        d="M124.093 314.093L157.13 357.652L236.098 416.536C236.098 416.536 293.31 428.636 280.417 437.509C267.524 446.382 230.458 429.443 230.458 429.443C230.458 429.443 150.684 386.691 133.762 368.945C116.841 351.198 85.4145 321.353 85.4145 321.353L124.093 314.093Z"
                        fill="#A0616A" />
                    <path id="Vector_20"
                        d="M85.4145 265.694C85.4145 265.694 134.568 301.993 125.704 317.319C125.704 317.319 95.8898 331.839 89.4434 331.032C82.9971 330.226 58.0174 301.993 51.571 299.573C45.1246 297.153 41.9014 253.595 85.4145 265.694Z"
                        fill="#D0CDE1" />
                </g>
                <path id="rect1"
                    d="M659 269.542H245.285V0H659V269.542ZM246.267 268.558H658.017V0.983729H246.267V268.558Z"
                    fill="#3F3D56" />
                <path id="line1" d="M658.509 14.9207H245.776V15.9044H658.509V14.9207Z" fill="#3F3D56" />
                <g id="c1">
                    <path id="Vector_21"
                        d="M255.112 12.7885C257.011 12.7885 258.551 11.247 258.551 9.34541C258.551 7.44384 257.011 5.90231 255.112 5.90231C253.212 5.90231 251.672 7.44384 251.672 9.34541C251.672 11.247 253.212 12.7885 255.112 12.7885Z"
                        fill="#6C63FF" />
                    <path id="Vector_22"
                        d="M256.094 11.8047C255.317 11.8047 254.557 11.574 253.91 11.1416C253.264 10.7092 252.76 10.0947 252.463 9.37565C252.165 8.65664 252.087 7.86546 252.239 7.10216C252.391 6.33886 252.765 5.63772 253.315 5.08742C253.865 4.53711 254.565 4.16235 255.327 4.01052C256.09 3.85869 256.88 3.93661 257.599 4.23444C258.317 4.53226 258.931 5.03661 259.363 5.6837C259.795 6.3308 260.025 7.09157 260.025 7.86982C260.024 8.91305 259.609 9.91321 258.872 10.6509C258.136 11.3886 257.136 11.8035 256.094 11.8047ZM256.094 4.91864C255.511 4.91864 254.941 5.09172 254.456 5.416C253.972 5.74028 253.594 6.2012 253.371 6.74046C253.147 7.27971 253.089 7.8731 253.203 8.44557C253.317 9.01804 253.597 9.54389 254.01 9.95663C254.422 10.3694 254.947 10.6504 255.519 10.7643C256.091 10.8782 256.684 10.8197 257.222 10.5964C257.761 10.373 258.222 9.99473 258.546 9.50941C258.869 9.02409 259.042 8.45351 259.042 7.86982C259.041 7.0874 258.731 6.33728 258.178 5.78402C257.625 5.23076 256.876 4.91954 256.094 4.91864V4.91864Z"
                        fill="#3F3D56" />
                </g>
                <g id="c2">
                    <path id="Vector_23"
                        d="M266.904 12.7885C268.803 12.7885 270.343 11.247 270.343 9.34541C270.343 7.44384 268.803 5.90231 266.904 5.90231C265.004 5.90231 263.464 7.44384 263.464 9.34541C263.464 11.247 265.004 12.7885 266.904 12.7885Z"
                        fill="#6C63FF" />
                    <path id="Vector_24"
                        d="M267.887 11.8047C267.109 11.8047 266.349 11.574 265.703 11.1416C265.056 10.7092 264.553 10.0947 264.255 9.37565C263.958 8.65664 263.88 7.86546 264.031 7.10216C264.183 6.33886 264.557 5.63772 265.107 5.08742C265.657 4.53711 266.357 4.16235 267.12 4.01052C267.882 3.85869 268.673 3.93661 269.391 4.23444C270.109 4.53226 270.723 5.03661 271.155 5.6837C271.587 6.3308 271.817 7.09157 271.817 7.86982C271.816 8.91305 271.402 9.91321 270.665 10.6509C269.928 11.3886 268.929 11.8035 267.887 11.8047V11.8047ZM267.887 4.91864C267.304 4.91864 266.734 5.09172 266.249 5.416C265.764 5.74028 265.386 6.2012 265.163 6.74046C264.94 7.27971 264.881 7.8731 264.995 8.44557C265.109 9.01804 265.39 9.54389 265.802 9.95663C266.214 10.3694 266.74 10.6504 267.312 10.7643C267.883 10.8782 268.476 10.8197 269.015 10.5964C269.554 10.373 270.014 9.99473 270.338 9.50941C270.662 9.02409 270.835 8.45351 270.835 7.86982C270.834 7.0874 270.523 6.33728 269.97 5.78402C269.418 5.23076 268.668 4.91954 267.887 4.91864V4.91864Z"
                        fill="#3F3D56" />
                </g>
                <g id="c3">
                    <path id="Vector_25"
                        d="M278.696 12.7885C280.596 12.7885 282.136 11.247 282.136 9.34541C282.136 7.44384 280.596 5.90231 278.696 5.90231C276.797 5.90231 275.257 7.44384 275.257 9.34541C275.257 11.247 276.797 12.7885 278.696 12.7885Z"
                        fill="#6C63FF" />
                    <path id="Vector_26"
                        d="M279.679 11.8047C278.902 11.8047 278.142 11.574 277.495 11.1416C276.849 10.7092 276.345 10.0947 276.047 9.37565C275.75 8.65664 275.672 7.86546 275.824 7.10216C275.975 6.33886 276.35 5.63773 276.9 5.08742C277.449 4.53711 278.15 4.16235 278.912 4.01052C279.675 3.85869 280.465 3.93661 281.183 4.23443C281.902 4.53226 282.515 5.0366 282.947 5.68369C283.379 6.33078 283.61 7.09156 283.61 7.86981C283.609 8.91305 283.194 9.9132 282.457 10.6509C281.72 11.3886 280.721 11.8035 279.679 11.8047V11.8047ZM279.679 4.91863C279.096 4.91863 278.526 5.09172 278.041 5.416C277.556 5.74028 277.178 6.20119 276.955 6.74045C276.732 7.27971 276.674 7.87309 276.788 8.44556C276.901 9.01804 277.182 9.54389 277.594 9.95662C278.007 10.3694 278.532 10.6504 279.104 10.7643C279.676 10.8782 280.269 10.8197 280.807 10.5964C281.346 10.373 281.806 9.99473 282.13 9.50941C282.454 9.02409 282.627 8.45351 282.627 7.86982C282.626 7.08739 282.315 6.33728 281.763 5.78402C281.21 5.23077 280.461 4.91954 279.679 4.91863V4.91863Z"
                        fill="#3F3D56" />
                </g>
                <path id="line2" d="M375.849 15.4125H374.866V269.431H375.849V15.4125Z" fill="#3F3D56" />
                <g id="v3">
                    <path id="Vector_27" d="M494.02 140.304H421.792V150.142H494.02V140.304Z" fill="#F2F2F2" />
                    <path id="Vector_28"
                        d="M498.442 145.715H425.231V134.894H498.442V145.715ZM426.214 144.731H497.46V135.877H426.214V144.731Z"
                        fill="#3F3D56" />
                </g>
                <g id="v5">
                    <path id="Vector_29" d="M494.02 216.543H421.792V226.38H494.02V216.543Z" fill="#F2F2F2" />
                    <path id="Vector_30"
                        d="M498.442 221.954H425.231V211.133H498.442V221.954ZM426.214 220.97H497.46V212.116H426.214V220.97Z"
                        fill="#3F3D56" />
                </g>
                <g id="v4">
                    <path id="Vector_31" d="M607.767 177.44H422.038V187.277H607.767V177.44Z" fill="#F2F2F2" />
                    <path id="Vector_32"
                        d="M612.19 183.834H425.477V173.013H612.19V183.834ZM426.46 182.85H611.207V173.997H426.46V182.85Z"
                        fill="#3F3D56" />
                </g>
                <g id="v3_2">
                    <path id="Vector_33" d="M607.522 140.304H535.293V150.142H607.522V140.304Z" fill="#F2F2F2" />
                    <path id="Vector_34"
                        d="M611.944 145.715H538.733V134.894H611.944V145.715ZM539.716 144.731H610.961V135.877H539.716V144.731Z"
                        fill="#3F3D56" />
                </g>
                <g id="circle">
                    <path id="Vector_35"
                        d="M305.023 185.425C327.008 185.425 344.83 167.584 344.83 145.576C344.83 123.568 327.008 105.727 305.023 105.727C283.038 105.727 265.216 123.568 265.216 145.576C265.216 167.584 283.038 185.425 305.023 185.425Z"
                        fill="#F2F2F2" />
                    <path id="Vector_36"
                        d="M311.759 175.003C303.765 175.003 295.95 172.63 289.303 168.184C282.657 163.738 277.476 157.418 274.417 150.025C271.357 142.632 270.557 134.496 272.117 126.647C273.676 118.798 277.526 111.589 283.178 105.93C288.831 100.271 296.033 96.4176 303.874 94.8564C311.715 93.2952 319.842 94.0965 327.227 97.1589C334.613 100.221 340.926 105.408 345.367 112.061C349.808 118.715 352.179 126.538 352.179 134.541C352.167 145.268 347.904 155.553 340.327 163.138C332.749 170.724 322.476 174.991 311.759 175.003ZM311.759 95.3051C304.007 95.3051 296.43 97.6062 289.984 101.917C283.538 106.229 278.515 112.357 275.548 119.526C272.582 126.695 271.805 134.584 273.318 142.195C274.83 149.806 278.563 156.798 284.045 162.285C289.526 167.772 296.51 171.509 304.113 173.023C311.716 174.537 319.597 173.76 326.759 170.79C333.92 167.82 340.042 162.791 344.349 156.339C348.655 149.887 350.954 142.301 350.954 134.541C350.942 124.139 346.809 114.166 339.461 106.81C332.113 99.4544 322.151 95.3169 311.759 95.3051Z"
                        fill="#3F3D56" />
                </g>
                <path id="Vector_37" d="M631.441 456.397H458.127V457.623H631.441V456.397Z" fill="#3F3D56" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="659" height="463" fill="white" />
                </clipPath>
            </defs>
        </svg>

    </section>


    <section class="about parallax-container" id="about">
        <div class="pics"></div>
        <h1>ABOUT US</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <br><br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </section>

    <section id="gallery">
        <h1>IMAGE GALLERY</h1>
        <div class="container">
        </div>
        <div class="img-popup">
            <img src="" alt="">
            <div class="close-btn">
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </section>


    <section id="project" style="display: block;height: auto">
        <div class="content">
            <h1 class="section-header">Video Gallery</h1>
            <div class="section-header-underline"></div>
            <div class="video-gallery">
                <div class="gallery-item">
                    <img src="./images/img22.png" alt="North Cascades National Park" />
                    <div class="gallery-item-caption" id="cycle.mp4">
                        <div>
                            <h2>SVG Animation</h2>
                            <p>Using Figma and UnDraw</p>
                        </div>
                    </div>
                </div>

                <div class="gallery-item ">
                    <img src="./images/img23.png" alt="Mt. Rainier" />
                    <div class="gallery-item-caption" id="Webd.mp4">
                        <div>
                            <h2>Stroke DashArray</h2>
                            <p>Using Figma Js and CSS</p>
                        </div>
                    </div>
                </div>

                <div class="gallery-item">
                    <img src="./images/img24.png" alt="Olympic National Park" />
                    <div class="gallery-item-caption" id="heartt_beat.mp4">
                        <div>
                            <h2>HeartBeat</h2>
                            <p>Using Figam and Js</p>
                        </div>
                    </div>
                </div>

                <div class="gallery-item">
                    <img src="./images/img19.png" alt="Mount St. Helens" />
                    <div class="gallery-item-caption" id="Love.mp4">
                        <div>
                            <h2>Love</h2>
                            <p>Svg animation</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="video">
            <div class="close"></div>
            <video width="800" height="600" controls>
                <source src="./video/cycle.mp4" type="video/mp4">
            </video>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="img"></div>
        <div class="form-box">
            <form>
                <h2>DETAILS</h2>
                <div class="inputBox">
                    <i class="far fa-user"></i>
                    <input type="text" name="" placeholder="Your Name">
                </div>
                <div class="inputBox">
                    <i class="fas fa-envelope"></i>
                    <input type="text" name="" placeholder="Mail ID">
                </div>
                <div class="inputBox">
                    <i class="fas fa-phone-alt"></i>
                    <input type="text" name="" placeholder="Phone No">
                </div>
                <div class="inputBox">
                    <button>SUBMIT</button>
                </div>
            </form>
            <div class="contact-msg">
                <h1>Connect With Us</h1>
                <div class="icon">
                    <a href="https://www.facebook.com/Webd-112531926847688/">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/ankitpodder211/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/ankit-podder-59156916a/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/ANKITPODDER2000">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>






    <script src="https://kit.fontawesome.com/d2ca914d90.js" crossorigin="anonymous"></script>
    <script src="./js/jquery.js"></script>
    <script type="text/javascript">
        $('.handbur').click(function () {
            console.log("Click");
            $(this).toggleClass("click");
            $("nav").toggleClass("active");
        })

        for (var i = 1; i <= 19; i++) {
            if (i == 13)
                continue;
            $("#gallery .container").append('<div class="container__img-holder"><img src="./images/img' + i + '.png"></div>');
        }


        $(document).ready(function () {

            // required elements
            var imgPopup = $('.img-popup');
            var imgCont = $('.container__img-holder');
            var popupImage = $('.img-popup img');
            var closeBtn = $('.close-btn');

            // handle events
            imgCont.on('click', function () {
                var img_src = $(this).children('img').attr('src');
                imgPopup.children('img').attr('src', img_src);
                imgPopup.addClass('opened');
            });

            $(imgPopup, closeBtn).on('click', function () {
                imgPopup.removeClass('opened');
                imgPopup.children('img').attr('src', '');
            });

            popupImage.on('click', function (e) {
                e.stopPropagation();
            });

        });


        $(".gallery-item-caption").on("click", function () {
            let vid = "../video/" + this.id;
            let a = $(".video video source").attr("src", vid);
            $(".video video")[0].load()
            console.log(this.id);
            $(".video").slideToggle();
        })
        $(".video .close").click(function () {
            let a = document.querySelector("video");
            a.pause();
            $(".video").slideToggle();
        })
    </script>
</body>

</html>